@font-face {
    font-family: 'Calculator';
    src: url('./Calculator.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

div {
    /* border: 1px solid black; */
}

html, main, body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calc and container */
.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-radius: 7px;
}

.calc {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* height: 600px; */
    width: 400px;
    gap: 15px;
    /* align-items: stretch; */
}

.display-container {
    display: flex;
    align-items: center;
}

.display {
    font-family: 'Calculator';
    /* height: 8px; */
    font-size: 4.5rem;
    padding: 10px 15px;
    text-align: right;
    background-color: #e0fff4;
    border-radius: 7px;
}

/* Button rows */
.row {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    border: none;
}

.row > button {
    flex: 1;
    font-size: 1.25rem;
    font-family: 'Roboto Mono', monospace;
    /* border: none; */
}

#equals-btn {
    background-color: #ffab57;
    flex-grow: 2.21;
}

button {
    background-color: #757575;
    color: white;
    border-radius: 7px;
}

.action {
    background-color: #76b3f9;
    /* color: black; */
}

.ac {
    background-color: #ff6161;
    color: white;
}
